
.header_main {
  height: 200px;
  margin-bottom: 64px;

  &__conteiner {
    display: flex;
    justify-content: space-between;
    margin: 0 162px;
  }

  &__logo {
    width: 240px;
    height: 57px;
    margin-top: 54px;
  }

  &__navigaiton {
    display: flex;
    align-items: center;
    height: 30px;
    margin-top: 54px;
    width: 123px;
    justify-content: space-between;
  }

  &__link {
    font-family: Inter SemiBold, Inter, sans-serif;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    font-weight: 600;
    text-decoration: none;

    :active {
      text-decoration: underline;
      color: #F27623;
    }
  }
}
