.footer {
  display: flex;
  color: #FFFFFF;
  background-color: #262626;
  justify-content: center;
  font-family: Inter, sans-serif;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 13px;
  padding: 9px 0;
}